* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 20px;
    padding: 20px;
    background: #ccc;
}

li {
    list-style: none;
    margin: 0 0 10px 0;
}

/* IMAGE EDITOR */

.image-editor__container {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    transform: translateZ(0);
    outline: none;
    display: flex;
    flex-direction: column;

}

.image-editor__workspace {
    position: relative;
    /*contain: layout style;*/
    width: 100%;
    height: 100%;
    flex: 10;
    overflow: hidden;
}

.image-editor__container-loading {
    background: white;
}

.image-editor__container-loading .image-editor__workspace {
    visibility: hidden;
}

.image-editor__canvas {
    display: block;
    visibility: hidden;
}

.image-editor__image-layer {
    opacity: .5;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    transition: transform .1s linear;
    transform-origin: 50% 50%; /* this is the default */
}

.image-editor__container-loading .image-editor__image-layer {
    transition: none;
}

.image-editor__crop-container  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: transform .1s linear;
    overflow: hidden;
    border: 1px solid black;
    /* to offset the 1px border */
    margin: -1px;
}

.image-editor__crop-container:active {
    cursor: move;
    background: rgba(204,204,204,0.251);
    opacity: 0.3;
}

.image-editor__container-loading .image-editor__crop-container {
    transition: none;
}

.image-editor__crop-container:active .image-editor__guide,
.image-editor__crop-container:active:after,
.image-editor__crop-container:active:before {
    position: absolute;
    padding: 0;
    width: 1px;
    height: 100%;
    overflow: hidden;
    left: 33%;
    content: ' ';
    background: rgba(0, 0, 0, .55);
    z-index: 1000;
    display: block;
    z-index: 500;
}

.image-editor__crop-container:active:before {
    right: 33%;
    left: auto;
}

.image-editor__crop-container:active .image-editor__guide-horiz-top {
    left: auto;
    width: 100%;
    height: 1px;
    top: 33%;
}

.image-editor__crop-container:active .image-editor__guide-horiz-bottom {
    left: auto;
    width: 100%;
    height: 1px;
    bottom: 33%;
    top: auto;
}


.image-editor__draggable-corner {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #222;
    z-index: 999;
    border: 1px solid white;
    transform: translate(0px, 0px);
    transform-origin: 0 0;
}

.image-editor__draggable-corner:active {
    background: rgba(255, 255, 255, .5);
}

.image-editor__draggable-corner-nw {
    top: -10px;
    left: -10px;
    cursor: nw-resize;
}

.image-editor__draggable-corner-sw {
    bottom: -10px;
    left: -10px;
    cursor: sw-resize;
}

.image-editor__draggable-corner-ne {
    top: -10px;
    right: -10px;
    cursor: ne-resize;
}

.image-editor__draggable-corner-se {
    bottom: -10px;
    right: -10px;
    cursor: se-resize;
}

/* ANIMATIONS */

@keyframes pulse_animation {
    0% { opacity: 1; }
    25% { opacity: .25; }
    50% { opacity: .5; }
    75% { opacity: .75; }
    100% { opacity: 1; }
}

/* APP STYLES */

.media-image-editor__container {

}
.media-image-editor__canvas-container {

}

/* DEBUG */
.media-image-editor_debug-container {
    display: block;
    background: red;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 500;
    padding: 0;
    box-sizing: border-box;
    border: 10px solid rgba( 255, 255, 255, 0.5 );
    width: 200px;

}
.media-image-editor_debug-values {
    color: white;
    font-size: .8em;
    padding: 10px;
}

.media-image-editor_debug__preview-container {
    display: block;
}

.media-image-editor_debug__preview-container img {
    display: block;
    width: 100%;
    height: 100%;

}
